{% extends "layout/admin.html" %}

{% block sidebar %}
	{% include 'adminlte/templet/_sub_menu.html' %}
{% endblock %}

{% block after_jquery %}
<script type="text/javascript">
	$(function () {
		mixpus.init_page_layout();

		mixpus.upload_file_manager();
	});
</script>
{% endblock %}

{% block mainbar %}
<div class="form-page">
	<div class="page-header">
		<span>
			{% if mode == 'create' %}
				新增模板
			{% else %}
				编辑模板
			{% endif %}
		</span>
		<div class="pull-right">
			<button type="submit" form="form-templet" class="btn btn-icon btn-mixpus" data-toggle="tooltip" data-original-title="保存">
				<i class="fa fa-save"></i>
			</button>
			<a href="{{ url_for('adminlte.get_templets') }}" class="btn btn-icon btn-default" data-toggle="tooltip" data-original-title="取消">
				<i class="fa fa-reply"></i>
			</a>
		</div>
	</div>

	<form class="form-horizontal" role="form" method="post" id="form-templet" action="">
		{{ form.hidden_tag() }}

		<div class="form-group required {% if form.errors.name %} has-error{% endif %}">
			{{ form.name.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.name(maxlength=64, class='form-control') }}

				{% for error in form.errors.name %}
				<span class="help-block">{{ error }}</span><br>
				{% endfor %}
			</div>
		</div>
		
		<div class="form-group">
			{{ form.type.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.type(class='form-control select2') }}
			</div>
		</div>
		
        <div class="form-group required">
            {{ form.cover_id.label(class="col-sm-2 control-label") }}
            <div class="col-sm-6">
                {% if mode == 'create' %}
                <a href="javascript:void(0);" id="cover_thumb_image" data-target="cover" data-toggle="image" class="img-thumbnail">
                    <img src="{{ url_for('static', filename='img/no_img100x100.png') }}" width="100px">
                </a>
                {% else %}
                <a href="javascript:void(0);" id="cover_thumb_image" data-target="cover" data-toggle="image" class="img-thumbnail">
                    <img src="{{ templet.cover.view_url|default(url_for('static', filename='img/no_img100x100.png')) }}" width="100px">
                </a>
                {% endif %}
                <input id="cover_id" name="cover_id" value="{{ form.cover_id.data|default(0) }}" type="hidden">
            </div>
        </div>

		<div class="form-group">
			{{ form.requirements.label(class="col-sm-2 control-label") }}
			<div class="col-sm-6">
				{{ form.requirements(class='form-control', rows="5") }}
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-2 text-right">
				{{ form.status.label(class="control-label") }}
			</div>
			<div class="col-sm-6">
				{{ form.status(class='radio-inline-group') }}
			</div>
		</div>
	</form>
</div>
{% endblock %}
